.container{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.happy{
    padding: 30px;
}

.form-label{
    padding: 10px;
}

.form-control{
    text-align: center;
}

.row{
    padding: 5px;
}

footer{
    text-align: center;
    padding: 50px;
    padding-bottom: 100px;
    color: #808080;
}